<div class="row">
  <div class="menu">

    <div class="logo">

    </div>
    <ul>
      <li> <img src="../../../assets/statistics.svg"/> Visão Geral</li>
      <li> <img src="../../../assets/youtube (1).svg"/> Cursos</li>
      <li> <img src="../../../assets/puzzle.svg"/> Tarefas</li>
      <li> <img src="../../../assets/portfolio.svg"/> Vagas</li>
      <li> <img src="../../../assets/curriculum.svg"/> Portifolio</li>
      <li> <img src="../../../assets/customer (1).svg"/> Eventos</li>
      <li> Suporte</li>
      <li> Sair</li>

    </ul>
  </div>
<div class="box-right">
  <div class="nav">Dashboard</div>

</div>


</div>
